<!-- BEGIN_INCLUDE(objectstore:store) -->
<objectstore:store key="mykey" value-ref="#[payload]"/>
<!-- END_INCLUDE(objectstore:store) -->
<!-- BEGIN_INCLUDE(objectstore:dual-store) -->
<objectstore:dual-store key="mykey" value-ref="#[payload]"/>
<!-- END_INCLUDE(objectstore:dual-store) -->
<!-- BEGIN_INCLUDE(objectstore:retrieve) -->
<objectstore:retrieve key="mykey" defaultValue-ref="myvalue"/>
<!-- END_INCLUDE(objectstore:retrieve) -->
<!-- BEGIN_INCLUDE(objectstore:remove) -->
<objectstore:remove key="mykey"/>
<!-- END_INCLUDE(objectstore:remove) -->
<!-- BEGIN_INCLUDE(objectstore:all-keys) -->
<objectstore:all-keys/>
<!-- END_INCLUDE(objectstore:all-keys) -->