<!-- BEGIN_INCLUDE(objectstore:store) -->
<objectstore:store key="mykey" value-ref="#[payload]" config-ref="config-name"/>
<!-- END_INCLUDE(objectstore:store) -->
<!-- BEGIN_INCLUDE(objectstore:dual-store) -->
<objectstore:dual-store key="mykey" value-ref="#[payload]" config-ref="config-name"/>
<!-- END_INCLUDE(objectstore:dual-store) -->
<!-- BEGIN_INCLUDE(objectstore:retrieve) -->
<objectstore:retrieve key="mykey" defaultValue-ref="#[string:myValue]" config-ref="config-name"/>
<!-- END_INCLUDE(objectstore:retrieve) -->
<!-- BEGIN_INCLUDE(objectstore:remove) -->
<objectstore:remove key="mykey" config-ref="config-name"/>
<!-- END_INCLUDE(objectstore:remove) -->
<!-- BEGIN_INCLUDE(objectstore:all-keys) -->
<objectstore:all-keys config-ref="config-name"/>
<!-- END_INCLUDE(objectstore:all-keys) -->
<!-- BEGIN_INCLUDE(objectstore:contains) -->
<objectstore:contains key="mykey" config-ref="config-name"/>
<!-- END_INCLUDE(objectstore:contains) -->
<!-- BEGIN_INCLUDE(objectstore:retrieve-with-lock) -->
<objectstore:retrieve-with-lock key="mykey" defaultValue-ref="myvalue"/>
<!-- END_INCLUDE(objectstore:retrieve-with-lock) -->
<!-- BEGIN_INCLUDE(objectstore:retrieve-store) -->
<objectstore:retrieve-store key="mykey" defaultValue-ref="myvalue" storeValue-ref="myvalue"/>
<!-- END_INCLUDE(objectstore:retrieve-store) -->